scikit-learn
aiofiles 
autocorrect 
black 
certifi 
charset-normalizer 
click 
contourpy 
cycler 
filelock 
fonttools 
fuzzywuzzy 
httptools 
huggingface-hub 
idna 
importlib-resources 
isodate 
joblib 
kiwisolver 
multidict 
mypy-extensions 
NERDA 
nltk 
numpy 
packaging 
pandas 
pathspec 
Pillow 
pip 
pip-chill 
platformdirs 
polyfuzz 
progressbar 
pyconll 
pyparsing 
python-dateutil 
pytz 
PyYAML 
rapidfuzz 
rdflib 
regex 
requests 
sanic 
Sanic-Cors 
sanic-ipware 
sanic-routing 
seaborn
sentence-transformers 
sentencepiece 
setuptools 
six 
SPARQLWrapper 
threadpoolctl 
tokenizers 
tomli 
torch 
torchvision 
tqdm 
transformers 
typing_extensions 
ujson 
urllib3 
uvloop 
websockets 
wheel 
zipp 
